{
  "presets": ["stage-0","env","react"],
  "plugins": [
    "add-module-exports",
    // "transform-class-properties",
    // "transform-decorators-legacy",
    // "transform-decorators",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-decorators",
    ["import", { "libraryName": "antd", "style": "css" }]
  ]
}